extends layout

block body

	div
		div(id="viewings-home", class="page-outer")
			div(id="bookings-home-navigation")
		div(id="viewings-bookings", class="page-outer")
	script
		document.write("<script src=\"http://" + (location.host || "localhost").split(':')[0] + ":35729/livereload.js?snipver=1\"></" + "script>");
	script(src='vendors.js')
	script(src='main.js')