!!!
html
	head
		meta(charset='utf8')
		base(href='/')
		title Dev Interactive
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='main.min.css')
		body(class="#{pagedata.cname}") 
			div(class="hold-targets")
				div(id="hold-target-modal", class="modal")
				div(id="hold-target-header")
			block body
			